*.iml
.gradle
.idea
.cache
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
site/
__pycache__
iosApp/Podfile.lock
demos/appyx-interactions/iosApp/Pods/*
demos/appyx-interactions/iosApp/iosApp.xcworkspace/*
demos/appyx-interactions/iosApp/iosApp.xcodeproj/*
!demos/appyx-interactions/iosApp/iosApp.xcodeproj/project.pbxproj
demos/appyx-navigation/iosApp/Pods/*
demos/appyx-navigation/iosApp/iosApp.xcworkspace/*
demos/appyx-navigation/iosApp/iosApp.xcodeproj/*
!demos/appyx-navigation/iosApp/iosApp.xcodeproj/project.pbxproj
