*.iml
.gradle
.idea
.cache
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
site/
__pycache__
iosApp/Podfile.lock
**/iosApp/Pods/*
**/iosApp/iosApp.xcworkspace/*
**/iosApp/iosApp.xcodeproj/*
!**/iosApp/iosApp.xcodeproj/project.pbxproj
