# General setup
site_name: Appyx
site_url: https://github.com/bumble-tech/appyx
site_author: Bumble
site_description: Model-driven navigation for Jetpack Compose

# Repository
repo_name: Appyx
repo_url: https://github.com/bumble-tech/appyx
edit_uri: ""

# Copyright
copyright: Copyright &copy; 2022 - 2022 Bumble

# Navigation
docs_dir: documentation

nav:
  - Overview: index.md
  - News & updates: news.md
  - Releases:
      - Downloads: releases/downloads.md
      - Changelog: releases/changelog.md
  - Using Appyx:
      - Quick start guide: how-to-use-appyx/quick-start.md
      - Codelabs: how-to-use-appyx/codelabs.md
      - Coding challenges: how-to-use-appyx/coding-challenges.md
      - Sample apps: how-to-use-appyx/sample-apps.md
  - Navigation:
      - Model-driven navigation: navigation/model-driven-navigation.md
      - NavModel:
          - Overview: navmodel/index.md
          - Back stack: navmodel/backstack.md
          - Spotlight: navmodel/spotlight.md
          - Cards: navmodel/cards.md
          - Tiles: navmodel/tiles.md
          - Promoter: navmodel/promoter.md
          - Writing your own: navmodel/custom.md
      - Composable navigation: navigation/composable-navigation.md
      - Implicit navigation: navigation/implicit-navigation.md
      - Explicit navigation: navigation/explicit-navigation.md
      - Deep linking: navigation/deep-linking.md
  - UI:
      - Children: ui/children-view.md
      - Transitions: ui/transitions.md
  - App:
      - Structuring your app navigation: apps/structure.md
      - Lifecycle: apps/lifecycle.md
      - Plugins: apps/plugins.md
      - ChildAware API: apps/childaware.md
      - Configuration changes: apps/configuration.md
  - FAQ: faq.md


# theme configuration
theme:
  name: 'material'
  logo: assets/logo.png
  icon:
    repo: fontawesome/brands/github
  language: en
  include_search_page: false
  search_index_only: true
  features:
#    - navigation.tabs
    - search.highlight
    - search.share
    - search.suggest
  palette:
    scheme: default
    primary: amber
    accent: amber
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.svg

extra_css:
  - stylesheets/extra.css

plugins:
  - search

# extensions
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.smartsymbols
  - pymdownx.superfences
