#root {
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
}

#root > .compose-web-column > div {
    position: relative;
}

@media (max-width: 511px) {
    #ComposeTarget {
        scale: 0.5;
        transform-origin: 0 0;
    }
}
