:root > * {
  --md-primary-fg-color:        #1F2126;
  --md-primary-fg-color--light: #FFC629;
  --md-primary-fg-color--dark:  #FFC629;
}

.md-header {
    --md-primary-bg-color: white;
}

.md-nav label {
    --md-primary-bg-color: white;
}

.md-search ::placeholder {
    color: white;
    opacity: 0.5;
}

.md-search .md-icon {
    opacity: 0.5;
}
