name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: gradle/wrapper-validation-action@v1
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            build
            mergeLintSarif
            mergeDetektSarif
            :plugins:buildPlugins
            --continue
      # checks integrity of release tasks, update publish workflows too if does not work
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            publishAppyxReleasePublicationToOSSRHRepository
            publishAppyxReleasePublicationToSonatypeSnapshotRepository
            --dry-run
            --no-parallel
      - uses: gradle/gradle-build-action@v2
        if: github.ref == 'refs/heads/main' && github.repository == 'bumble-tech/appyx'
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        with:
          arguments: |
            publishAppyxReleasePublicationToSonatypeSnapshotRepository
            -Psnapshot=true
            --no-parallel
            -Psigning.password=${{ secrets.SIGNING_PASSWORD }}
            -Psonatype.username=${{ secrets.SONATYPE_USERNAME }}
            -Psonatype.password=${{ secrets.SONATYPE_PASSWORD }}
      - uses: github/codeql-action/upload-sarif@v2
        if: success() || failure()
        with:
          sarif_file: build/lint-merged.sarif
          category: lint
      - uses: github/codeql-action/upload-sarif@v2
        if: success() || failure()
        with:
          sarif_file: build/detekt-merged.sarif
          category: detekt
      - name: Upload failure artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: '**/build/reports'

  generate-diff:
    name: Check dependency diff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: gradle/wrapper-validation-action@v1
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: dependencies
      - id: dependency-diff
        env:
          INPUT_BASEREF: ${{ github.base_ref }}
          INPUT_BUILD_ROOT_DIR: ${{ inputs.build-root-directory }}
          INPUT_VERSION: '1.2.0'
        run: .github/workflows/diff-generator.sh
        shell: bash
      - uses: peter-evans/find-comment@v1
        id: find_comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: Dependency diff
      - uses: peter-evans/create-or-update-comment@v1
        if: ${{ steps.dependency-diff.outputs.text-diff != null || steps.find_comment.outputs.comment-id != null }}
        with:
          body: |
            Dependency diff: 
              ```diff
              ${{ steps.dependency-diff.outputs.text-diff }}
              ```
          edit-mode: replace
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          token: ${{ secrets.GITHUB_TOKEN }}

  instrumentation-tests:
    name: Instrumentation tests
    runs-on: macOS-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: gradle/wrapper-validation-action@v1
      - name: Pre build sources before launching emulator
        uses: gradle/gradle-build-action@v2
        with:
          arguments: compileDebugAndroidTestSources
      - name: AVD cache
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-29
      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          # Use API 29 https://github.com/ReactiveCircus/android-emulator-runner/issues/222
          api-level: 29
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."
      - name: Instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          # Use API 29 https://github.com/ReactiveCircus/android-emulator-runner/issues/222
          api-level: 29
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: |
            adb logcat > logcat.out &
            ./gradlew connectedCheck
      - name: Upload failed instrumentation artifacts
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: instrumentation-failures
          path: |
            **/build/reports
            logcat.out

  check-documentation:
    name: Check documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - run: cp CHANGELOG.md documentation/releases/changelog.md
      - run: pip install mkdocs-material
      - run: mkdocs build --strict
