name: Build and deploy material mkdocs to gh-pages
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      # Uncomment when making appyx public
      # - run: mkdocs gh-deploy --force